<body>
    <h1>Accounts Page</h1>
    
    <label>username:</label><input type="text" class="form-control" [(ngModel)]="username" name = "username" readonly>
    <label>birthdate:</label><input type="text" class="form-control" [(ngModel)]="birthdate" name = "birthdate" readonly>
    <label>age:</label><input type="text" class="form-control" [(ngModel)]="age" name = "age" readonly>
    <label>email:</label><input type="text" class="form-control" [(ngModel)]="email" name = "email" readonly>
</body>