<h2>Admin Dashboard</h2>
            <h3>User Options</h3>
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Create User</h3>
                    <form (submit)="createUser();" id="createUser">
                        <div class="form-group">
                            <input name="username"  placeholder="Username" [(ngModel)]='username'>

                        </div>
                        <div class="form-group">
                            <input name="password"placeholder="password" [(ngModel)]='password'>
                        </div>
                        <div>
                        <select [(ngModel)]="role" name="role">
                            <option value="user">User</option>
                            <option value="groupAdmin">Group Admin</option>
                            <option value="superAdmin">Super Admin</option>
                          </select>
                        </div><br>
                        <button   type="submit">Create</button>
                       
                        
                            <h3>Delete User</h3>
                            <form (submit)="deleteUser(deletedUser);">
                                <select placeholder="Delete User" [(ngModel)]="deletedUser" name="deluser">
                                    <option *ngFor="let user of users" [value]="user.username">
                                      {{user.username}}
                                    </option>
                                  </select>
                                  <p> Selected User to Delete:</p> <p class="highlight">{{deletedUser}}</p>
                            <button  type="submit">Delete</button>
                            </form>
                        
                            <form (submit)="createGroup();">
                                <p>Group Name</p>
                                <input name="groupname" placeholder="Group Name" [(ngModel)]='groupname'>
                                <br>
                                <br>
                                <button  type="submit">Create</button>
                              </form>



       
                
                  <form (submit)="deleteGroup(deletedGroup);">
                      <select placeholder="Delete Group" [(ngModel)]="deletedGroup" name="delgroup">
                        <option *ngFor="let group of groups" [value]="group.name">
                          {{group.name}}
                        </option>
                      </select>
                    <p> Selected Group to Delete:</p> <p class="highlight">{{deletedGroup}}</p>
                    <button type="submit">Delete</button>
                  </form>
                
     
                    </form>
